# Configurações do GitHub
GITHUB_TOKEN=seu_token_pessoal_aqui
GITHUB_ORG=nome_da_sua_organizacao

# Configurações do servidor
PORT=3000

# Configurações do Discord para envio de relatórios
# URL do webhook do Discord para enviar os relatórios
DISCORD_WEBHOOK_URL=
# Nome do bot que enviará as mensagens (opcional, padrão: PR Performance Bot)
DISCORD_BOT_USERNAME=PR Performance Bot
# URL do avatar do bot (opcional)
DISCORD_BOT_AVATAR_URL=

# Configurações de concorrência
# Número máximo de repositórios processados simultaneamente (30 por padrão)
MAX_CONCURRENT_REPOS=30
# Número máximo de requisições simultâneas por repositório (10 por padrão)
MAX_CONCURRENT_REQUESTS=10

# Configurações de cache
# Tempo de expiração do cache em milissegundos (1 hora por padrão)
CACHE_EXPIRATION_TIME=3600000
# Habilitar cache para requisições à API do GitHub (true por padrão)
ENABLE_CACHE=true

# Configurações de limites de taxa
# Intervalo mínimo entre verificações de limite de taxa em milissegundos (1 minuto por padrão)
RATE_LIMIT_CHECK_INTERVAL=60000
# Tempo máximo de espera para reset de limite de taxa em milissegundos (5 minutos por padrão)
RATE_LIMIT_MAX_WAIT_TIME=300000
# Tamanho do lote para processamento de branches (5 por padrão)
RATE_LIMIT_BATCH_SIZE=5
# Intervalo entre lotes em milissegundos (1 segundo por padrão)
RATE_LIMIT_BATCH_INTERVAL=1000 